<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Đăng ký</h2>
        </div>
        <form>
            <div class="mb-3"><label class="form-label" for="fullname">Tên đầy đủ</label><input class="form-control item" type="text" id="fullname" data-bs-theme="light"></div>
            <div class="mb-3"><label class="form-label" for="email">Email</label><input class="form-control item" type="email" id="email" data-bs-theme="light"></div>
            <div class="mb-3"><label class="form-label" for="password">Password</label><input class="form-control" type="password" id="password" data-bs-theme="light"></div>
            <div class="mb-3">
                <label>Đã có tài khoản? <a href="/user/login" class="fw-bold">Đăng nhập</a> </label>
            </div>
            <button class="btn btn-primary" type="submit">Đăng nhập</button>
        </form>
    </div>
</section>