<section class="clean-block clean-form dark" ng-controller="RegisterController" ng-init="Init()">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Đăng ký</h2>
        </div>
        <form id="from-register" action="javascript:void(0);">
            <div class="mb-3">
                <div class="row">
                    <label class="form-label col-4" for="fullname">Tên đầy đủ</label>
                    <label class="col text-end text-danger">{{FullNameWarning}}</label>
                </div>
                <input class="form-control item" type="text" id="fullname" ng-model="FullName" ng-change="ValidateFullname()" data-bs-theme="light">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label class="form-label col-4" for="email">Email</label>
                    <label class="col text-end text-danger">{{EmailWarning}}</label>
                </div>
                <input class="form-control item" id="email" ng-model="Email" ng-change="ValidateEmail()" data-bs-theme="light">
            </div>
            <div class="mb-3">
                <div class="row">
                    <label class="form-label col-4" for="password">Password</label>
                    <label class="col text-end text-danger">{{PasswordWarning}}</label>
                </div>
                <input class="form-control" type="password" id="password"  ng-model="Password" ng-change="ValidatePassword()" data-bs-theme="light">
            </div>
            <div class="mb-3">
                <label>Đã có tài khoản? <a href="/user/login" class="fw-bold">Đăng nhập</a> </label>
            </div>
            <button class="btn btn-primary" ng-click="Register()" ng-disabled="IsDisable">Đăng ký</button>
        </form>
    </div>
</section>

<script defer src="/public/javascripts/users/register.js"></script>